@charset "utf-8";
/* CSS Document */
		
		html,
      	body {
        height: 100%; background-image: url(../img/wrapper_back1.fw.png);  background-repeat:no-repeat;
		background-attachment:fixed; background-position:center;
        /* The html and body elements cannot have any padding or margin. */
      	}

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
	   /* Not required for template or sticky footer method. */
	  .container {
        width: auto;
        max-width: 880px;		
      }
      .container .credit {
        margin: 10px 0;
      }
	  .form-signin {
        max-width: 480px;
        padding: 19px 29px 29px;
        margin: 70px auto 40px;
        background-color: #fff;
        /*border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
      }
	  .fieldset{
		  width:70%;		
		  margin:0 auto 20px;
		}
	  .center{
		  margin:0 auto 20px;		  
		  }
	
	   	
		#overwritecontrols{
			margin-left:0 auto 20px !important;
			 
			}	
		.input-micro{
			width:30px;
			}