/*YahooAutocomplete Style @1-9C8D071B*/
.sex_occupation_patient1s_keywordYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.sex_occupation_patient1s_keywordYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.sex_occupation_patient1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-E586DF7E*/
.sex_occupation_patient1s_keywordYahooAutocomplete2 .yui-ac-container {
    left: 0;
}
.sex_occupation_patient1s_keywordYahooAutocomplete2 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.sex_occupation_patient1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-CD7F975D*/
.sex_occupation_patient1s_keywordYahooAutocomplete3 .yui-ac-container {
    left: 0;
}
.sex_occupation_patient1s_keywordYahooAutocomplete3 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.sex_occupation_patient1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-10A07835*/
.title_status_users_result1s_patient_idYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.title_status_users_result1s_patient_idYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.title_status_users_result1s_patient_id_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

