/*YahooAutocomplete Style @1-0E1976E7*/
.title_user_group_departme1s_keywordYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.title_user_group_departme1s_keywordYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.title_user_group_departme1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-C40C2164*/
.title_user_group_departme1s_keywordYahooAutocomplete2 .yui-ac-container {
    left: 0;
}
.title_user_group_departme1s_keywordYahooAutocomplete2 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.title_user_group_departme1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-34D011DA*/
.title_user_group_departme1s_keywordYahooAutocomplete3 .yui-ac-container {
    left: 0;
}
.title_user_group_departme1s_keywordYahooAutocomplete3 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.title_user_group_departme1s_keyword_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

